<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <div class="outer">
        <div class="left box">
            <h1 class="heading">Selling Online <br>is vital to<br> business growth</h1>
            <h3 class="subheading">2025 Grow Your e-Commerce Conference</h3>
            <span class="data">SSeptember 16-18, 2025</span>
            <span class="text">Paragon One Plaza and Sky Garden</span>
            <div class="button">
                <span>BOOK NOW FOR EARLY ACCESS</span>
            </div>
        </div>
        <div class="right box">
            <img src="p.jpg" alt="nnature" class="image">
        </div>
    </div>
    
</body>
</html>