@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.outer{
    display: flex;
    flex-direction: row;
}
.outer .box{
    width: 50%;
}
.outer .left{
    display: flex;
    flex-direction: column;
    color: beige;
    padding: 2%;
    background-color: rgb(12,59,46);
}
.outer .heading{
    letter-spacing: 2px;
    line-height: 1.2;
    font-size: 3em;
}
.outer .left .subheading{
    margin-top: 0px;
    margin-bottom: 10%;
    font-weight: normal;
}

.outer .left .button{
    margin-top: 5%;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 217, 0);
    font-weight: bolder;
    border-color: transparent;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 300ms;
    cursor: pointer;
    color: black;
    align-items: center;
    text-align: center;
    width: fit-content;
}
.outer .left .button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 217, 0);
}
@media only screen and (max-width:770px){
    .outer{
        flex-direction: column;
    }
    .outer .box{
        width: 100%;
        min-width: 100vw;
    }
    .outer .left{
        align-items: center;
    }
    .outer img{
        max-width: 100vw;
    }
}